{% load static %}

<!--NavBar-->
<div class="navbar">
    <a class="home" href="#home"><img src="{% static 'stylesheets/img/home.png' %}" alt="Home"></a>
    <a href="#slideshow">Slideshow</a>
    <a href="#about">About</a>
    <a href="#gitHub">GitHub</a>
    <a onclick="openForm()">Contact</a>
    <div class="icon">
        <a href="https://www.linkedin.com/in/grady-mellin-b01059198/" target="_blank"><img src="{% static 'stylesheets/img/linkedin.png' %}" alt="linked-In"></a>
        <a href="https://www.facebook.com/grady.mellin" target="_blank"><img src="{% static 'stylesheets/img/facebook.png' %}" alt="facebook"></a>
    </div>
</div>
<!--/NavBar-->